<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="pt-br"> 
    <meta name="author" CONTENT="Gabriel Feitosa Vilar (CoGUMm)"> 
    <meta name="author" CONTENT="CoGUMm, cogumm"> 
    <meta name="keywords" content="rails, ruby on rails, desenvolvimento, prontoclínica de olhos, prontoclínica de olhos natal">
    <title>Time line twitter</title>
    <style type="text/css" media="screen">
      * {margin:0; padding:0;}
      body {
        /* background:#000 url("/images/bg-wooddy.jpg") repeat-x left top; */
        font:16px/1.4em Arial, sans-serif;
        color:#FFF;
        text-align:center;
      }
      h2 {
        color:#000;
        margin-top:40px;
        font-family:Helvetica, Arial, sans-serif;
        font-size:24px;
        font-weight:bold;
      }
      #page {
        width:900px;
        margin:0 auto;
        text-align:left;
      }
      #top {
       /* background:url("/images/top.jpg") center top no-repeat; */
        height:175px;
        padding:50px 70px 0;
      }
      #top h1 {
        margin:0 auto;
        width:250px;
      }
      .tracka, .trackb {
        color:#7d0000;
        float:left;
        font-size:2.3em;
        font-weight:bold;
        line-height:1em;
        position:relative;
        top:-60px;
        text-shadow:0 2px 2px #999999;
        width:38%;
      }
      .trackb {
        margin-left:172px;
        text-align:right;
      }
      a, a:visited {
        color:#ffae30;
      }
      a:hover {
        color:#ff7e00;
      }
      .tweet {
        margin:4px 0;
        width:400px;
        padding:12px;
        color:#7d0000;
        border-bottom:1px solid #555;
        overflow:hidden;
      }
      .tweet img {
        float:left;
        margin:0 8px 4px 0;
        width:48px;
        height:48px;
        border:1px solid #888;
      }
      .tweet .text {
        margin:0;
        padding-bottom:10px;
        float:right;
        width:330px;
      }
      .tweet .time a {
        font-size:80%;
        color:#888;
        white-space:nowrap;
        text-decoration:none;
      }
      .tweet .time a:hover {
        text-decoration:underline;
      }
      .twitterTracker {
        float:left;
        margin-top:-45px;
      }
      .twitterTracker.A {
        margin-right:48px;
      }
    </style>
  </head>
  <body>
    <div id="page">
      <div id="top">
        <h1><img src="/images/urele.png"/></h1>
        <br />
        <p class="tracka"><%= params[:tracka] %></p>
        <p class="trackb"><%= params[:trackb] %></p>
      </div>
      <div class="twitterTracker A">
        <div id="twitterSearchA" class="tweets"></div>
      </div>
      <div class="twitterTracker B">
        <div id="twitterSearchB" class="tweets"></div>
      </div>
    </div>
    <br />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" ></script>
    <script src="/jquery.livetwitter.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      $('#twitterSearchA').liveTwitter('urele <%= params[:tracka]%>', {limit:10, rate:10000});
      $('#twitterSearchB').liveTwitter('ensl <%= params[:trackb]%>', {limit:10, rate:10000});
      $('#searchLinks a').each(function(){
        var query = $(this).text();
        $(this).click(function(){
          $('#twitterSearchA').liveTwitter(query);
          $('#twitterSearchB').liveTwitter(query);
          $('#searchTerm').text(query);
          return false;
        });
      });
    </script>
  </body>
</html>
